.App {
  text-align: center;

}
.emps{
  display: flex;
  width: 100%;
}
.data {
  width: 75%;
  background-color: rgb(189, 238, 238);
}
.btns{
  background-color: rgb(172, 148, 194);
  min-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.select {
  text-align: center;
  background-color: rgb(236, 164, 164);
}